@charset "UTF-8";

/* DISPLAY MAIORES QUE O CELULAR */

/* DISPLAYS MAIORES QUE 320px E MENORES QUE 768px */
@media (min-width: 335px){
    .grid-dois{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
    }

    .galeria1{
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
    }

    .grid-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
    }

    .main{
        margin: 0 auto;
    }
}

@media (min-width: 815px){
    .nav-viagens{
        max-width: 700px;
        margin: auto;
        height: 37.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .topo-header{
        background-color: white;
    }

    .header{
        background: black url(../images/london.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
    }

    .main{
        margin-top: 2rem;
    }
}